.bg {
  background-image: url("./Audiobg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.text-white {
  color: aliceblue;
}

.footer {
  color: aliceblue;
}